# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/

# Environment Manager / UV
.uv/
uv.lock
# Build and Distribution Directories
dist/
build/
*.egg-info/

# Tests / Coverage
.pytest_cache/
.coverage
coverage.xml

# Output Data
data/output/*
!data/output/.gitkeep

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
